<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"> </script>
</head>

<body>
    <h2>Ejemplo de 3: Controladores</h2>
    <div ng-app="App1" ng-controller="ControladorEstudiante">
        Ingrese el Nombre:
        <input type="text" ng-model="Estudiante.Name">
        <br><br>Ingrese el Apellido:
        <input type="text" ng-model="Estudiante.Surname">
        <br><br>Usted está Ingresando: {{Estudiante.NombreCompleto()}}
        <hr />
    </div>

    <script>
        var App = angular.module("App1", []);
        App.controller("ControladorEstudiante", function ($scope) {
            $scope.Estudiante = {
                Name: "Carlos",
                Surname: "Simes",
                NombreCompleto: function () {
                    var objetoEstudiante;
                    objetoEstudiante = $scope.Estudiante;
                    return objetoEstudiante.Name + " " + objetoEstudiante.Surname;
                }
            };
        });
    </script>
<!-- 
    <h2>Ejemplo 4: Controladores</h2>
    <div ng-app="App2" ng-controller="Operaciones">
        Ingrese el Numero1:
        <input type="text" ng-model="Numeros.N1">
        <br><br>Ingrese el Numero2:
        <input type="text" ng-model="Numeros.N2">
        <br><br>El Resultado de la Suma: Numeros.Resultado</div>
    <script>
        var App = angular.module("App2", []);
        App.controller('Operaciones', function ($scope) {
            $scope.Numeros = {
                N1: 1,
                N2: 6,
                Resultado: function () {
                    var Num;
                    Num = $scope.Numeros;
                    return parseInt(Num.N1) + parseInt(Num.N2);
                }
            };
        });
    </script> -->
</body>

</html>